{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Dash",
            "type": "debugpy",
            "request": "launch",
            "module": "flask",
            "env": {
                "FLASK_APP": "main.py",
                "FLASK_DEBUG": "1"
            },
            "args": [
                "run",
                "--no-debugger",
                "--no-reload"
            ],
            "python": "${workspaceFolder}\\.venv\\Scripts\\python.exe",
            "jinja": true,
            "justMyCode": true
        },
        {
            "name": "File",
            "type": "debugpy",
            "request": "launch",
            "program": "${workspaceFolder}\\main.py",
            "console": "integratedTerminal",
            "justMyCode": true,
            "cwd": "${workspaceFolder}",
            "python": "${workspaceFolder}\\.venv\\Scripts\\python.exe",
            "envFile": "${workspaceFolder}\\.env",
            "env": {
                "PYTHONPATH": "${workspaceFolder}"
            }
        }
    ]
}
